<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Employees</title>
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.7/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">

    <h2>List Employees</h2>
    <hr/>

    <a th:href="@{/addEmployeeForm}" class="btn btn-primary mb-2">Add Employee</a>
    <table class="table table-bordered table-striped" id="employee-table">
        <thead class="thead-dark">
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Employee Department</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.department}"></td>

            <td>
                <a th:href="@{/showUpdateForm(employeeId=${employee.id})}" class="btn btn-info btn-sm">Update</a>
                <a th:href="@{/deleteEmployee(employeeId=${employee.id})}" class="btn btn-danger btn-sm">Delete</a>

            </td>






        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.13.7/datatables.min.js"></script>
<script>
    $(document).ready(function(){
        $("#employee-table").DataTable({
            responsive:true
        });

    })
</script>

</body>
</html>
